/* Custom CSS*/




.title {
  margin-top: 50px;
  font-family: Arial;
font-size: 24px;
  color: #535fb3;
}

.cont_principal {
  position: absolute;
  width: 100%;
  height: 100%;
background: rgb(197,222,234);
background: -moz-linear-gradient(-45deg,  rgba(197,222,234,1) 0%, rgba(138,187,215,1) 31%, rgba(6,109,171,1) 100%);
background: -webkit-linear-gradient(-45deg,  rgba(197,222,234,1) 0%,rgba(138,187,215,1) 31%,rgba(6,109,171,1) 100%);
background: linear-gradient(135deg,  rgba(197,222,234,1) 0%,rgba(138,187,215,1) 31%,rgba(6,109,171,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c5deea', endColorstr='#066dab',GradientType=1 );

}
.cont_centrar {
  position: fixed;
  width: 300px;
  height: 100px;
/*   background-color: #eee; */
  top:-8%;
  left: 94%;
  margin-left: -150px;
 margin-top:72px;
  cursor: pointer;
   z-index: 10;
}

  
  @media (max-width: 1250px) {
    .cont_centrar {
      position: fixed;
      width: 300px;
      height: 100px;
    /*   background-color: #eee; */
      top:-5%;
      left: 94%;
      margin-left: -150px;
     margin-top:72px;
      cursor: pointer;
       z-index: 10; }
    }
  @media (max-width: 768px) {
    .cont_centrar {
      position: fixed;
      width: 300px;
      height: 100px;
    /*   background-color: #eee; */
      top:-8%;
      left: 94%;
      margin-left: -150px;
     margin-top:72px;
      cursor: pointer;
       z-index: 10;
    }
     }
  @media (max-width: 520px) {
    .cont_centrar {
      position: fixed;
      width: 300px;
      height: 100px;
    /*   background-color: #eee; */
      top:-8%;
      left: 94%;
      margin-left: -150px;
     margin-top:72px;
      cursor: pointer;
       z-index: 10;
    }
  }
    @media (max-width: 768px) {
      ..cont_centrar {
        position: fixed;
        width: 300px;
        height: 100px;
      /*   background-color: #eee; */
        top:-8%;
        left: 94%;
        margin-left: -150px;
       margin-top:72px;
        cursor: pointer;
         z-index: 10;
      }
    }


.texto_centro {
  margin:41px 17px;
  font-size: 10px;
font-weight: 800;
  font-family: Arial;
  color: #476acc;
}

.active_txt {
animation: text_anim 0.3s infinite  alternate;  
}

#svg4174 {
  position: absolute;
  top:0px;
  left: 0px;
}
.activebtn_fin   #rect4147 {  
  transition: all 0.5s;
      stroke-dashoffset: 0px; 
  stroke-dasharray: 800px,800px;
}
.activebtn   #rect4147 {  
stroke-dashoffset: 800px; 
  stroke-dasharray: 0px,800px;
  transition: all 2s;
  animation: dash_movimiento 15s 1 alternate;
    -webkit-animation-timing-function: linear;   
 animation-timing-function: linear;  
animation-delay: 2s;
}
  #rect4147 {  
   stroke-dashoffset: 0px; 
  stroke-dasharray: 800px,800px;

}


@-webkit-keyframes dash_movimiento {
 0% { stroke-dashoffset: 800; 
  stroke-dasharray: 0px;
   }

   100% { 
    stroke-dashoffset: 0px; 
  stroke-dasharray: 800px,800px;
  }

}
@-o-keyframes dash_movimiento {
 0% { stroke-dashoffset: 800; 
  stroke-dasharray: 100px;
   }

   100% { 
    stroke-dashoffset: 0px; 
  stroke-dasharray: 800px,800px;
  }

}
@-moz-keyframes dash_movimiento {
 0% { stroke-dashoffset: 800; 
  stroke-dasharray: 100px;
   }

   100% { 
    stroke-dashoffset: 0px; 
  stroke-dasharray: 800px,800px;
  }
}
@keyframes dash_movimiento {
  0% {
    stroke-dashoffset: 800px; 
  stroke-dasharray:0px,800px;
   }

   10% { 
    stroke-dashoffset: 700px; 
  stroke-dasharray:100px,800px;
  }

   20% { 
   stroke-dashoffset: 600px; 
  stroke-dasharray:200px,800px;
  }
   30% { 
   stroke-dashoffset: 500px; 
  stroke-dasharray:300px,800px;
  }
  40% { 
   stroke-dashoffset: 400px; 
  stroke-dasharray:400px,800px; 
  }
   50% { 
   stroke-dashoffset: 300px; 
  stroke-dasharray:500px,800px;
  }
   60% { 
   stroke-dashoffset: 200px; 
  stroke-dasharray:600px,800px;
  }
   70% { 
   stroke-dashoffset: 100px; 
  stroke-dasharray:700px,800px;

  }
   80% { 
   stroke-dashoffset: 50px; 
  stroke-dasharray:750px,800px;

  }
   90% { 
   stroke-dashoffset: 25px; 
  stroke-dasharray:770px,800px;
  }
   100% { 
    stroke-dashoffset: 0px; 
  stroke-dasharray: 800px,800px;
  }
 
}


@-webkit-keyframes text_anim {
 0% {
   transform: scale(1);
   }

   100% { 
  transform: scale(1.05);
  }

}
@-o-keyframes text_anim {
 0% {
   transform: scale(1);
   }

   100% { 
  transform: scale(1.05);
  }

}
@-moz-keyframes text_anim {
 0% {
   transform: scale(1);
   }

   100% { 
  transform: scale(1.05);
  }
}
@keyframes text_anim {
  0% {
    transform: scale(1);
   }

   100% { 
  transform: scale(1.05);
  }
 
}

#path4138 {
      stroke-dashoffset: 30px;
    stroke-dasharray: 30px,30px;
  transition: all 0.5s;
  opacity: 0;
}
.activebtn_fin #path4138 {
      stroke-dashoffset: 0px;
  transition-delay: 0.5s;
opacity: 1;
}

.op_0 {
  transition: all 0.5s;
  opacity: 0;
}

  #svg2{
  
    position: absolute;
    top: 33px;
	margin:0px 65px;
}





/* Custom CSS END*/

html, body { color: #434242; font-family: 'Open Sans', sans-serif !important; height: 100%; }
body { background: #F3EFE0; font-size: 15px; line-height: 1.64; }

h1, h3, h4, h5, h6, .h1,  .h3, .h4, .h5, .h6, strong, b { font-family: 'Open Sans', sans-serif !important; margin-bottom: 20px; }
h1,h4 { font-weight: 700; margin-bottom: 10px; }
h2,h3 { font-weight: 300; color: #040505; }
h2 { font-size: 54px; text-align: center; }
h3 { font-size: 28px; }

p.lead { text-align: center; color: #727878; }
p.lead a { color: #FFFFFF; text-decoration: underline; }
p.lead a:hover { text-decoration: none; }
ul.no-bullets { list-style-type: none; margin: 0px; padding: 0px; }
hr { margin: 40px 0px; border-color: #727878; opacity: 0.2; filter:alpha(opacity=20); }

.project-referal { margin-top: 40px; }
.project-referal p { font-style: italic; color: #999999; }

.btn-primary { background-color: #22A39F; border-color: #1c8784; }
.btn-primary:hover { background-color: #1c8784;  border-color: #1c8784; }

.icon { display: inline-block; background: url(images/sm_icon_sprite.png) no-repeat; height: 32px; width: 32px; }
.icon.icon-twitter { background-position: 0px 0px; }
.icon.icon-linkedin { background-position: 0px -32px; }
.icon.icon-skype { background-position: 0px -64px; }
.icon.icon-email { background-position: 0px -96px; }


.jumbotron {
	background: no-repeat center right fixed url(images/background.jpg);

	-webkit-background-size: 100%; 
    -moz-background-size: 100%; 
    -o-background-size: 100%; 
    background-size: 100%; 
	
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	
	-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/background.jpg', sizingMethod='scale')";
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/background.jpg', sizingMethod='scale');
	
	margin-bottom: 0px;
	padding: 0px;
}  
/*.jumbotron:before { 
	border: 1px solid #FFFFFF;
	bottom: 30px;
	content: "";
	left: 30px;
	position: absolute;
	right: 30px;
	top: 30px;
}*/
.jumbotron .overlay { background-color: #22A39F; position: absolute; top: 0px; bottom: 0px; left: 0px; right: 0px; opacity: 0.75; filter:alpha(opacity=75); z-index: 2; }

.jumbotron .container { position: relative; top: 28%; z-index: 4; text-align: center; }
.jumbotron .container > * { text-align: center; color: #FFFFFF; }
.jumbotron .container h1 { padding-bottom: 20px; border-bottom: 1px solid #FFFFFF; border-bottom-color: rgba(255,255,255,0.35); display: inline-block; }
.jumbotron .container .lead { font-size: 28px; }
.jumbotron .scroll-down { height: 80px; width: 110px; display: block; position: absolute; bottom: 0px; right: 5%; background-color: #222222; text-align: center; z-index: 6; }
.jumbotron .scroll-down .glyphicon { 
	color: #FFFFFF; 
	font-size: 30px; 
	padding-right: 2px; 
	padding-top: 20px; 
	
	animation-name: wiggle;
	animation-duration: 1.2s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: normal;
}
.jumbotron .scroll-down:hover .glyphicon { padding-top: 25px; }

.navbar  { border: 0px; background-color: #222222; position: absolute; top: 100%; right: 5%; width: 110px; z-index: 999; }
.navbar .navbar-collapse { padding: 0px; max-height: none; }
.navbar .navbar-nav { float: none; }
.navbar-nav { margin: 0px; }
.navbar .nav > li { display: block; float: none; height: 80px; } 
.navbar .nav > li a { display: block;  height: 80px; text-align: center; padding-top: 30px; font-weight: 600; color: #FFFFFF; }
.navbar .nav > li a:hover, .navbar .nav > li a:focus { color: #999999; }
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus { background: #22A39F; color: #FFFFFF; }
.navbar-default .navbar-toggle:hover .icon-bar,
.navbar-default .navbar-toggle:focus .icon-bar { background: #222222; }

.fixed .navbar  { position: fixed; top: 60px; }

.background-white { background: #FFFFFF; }
.background-gray { background: #434242; }
.container { max-width: 1280px; padding: 40px 180px; }

#profile .row > div { margin-bottom: 20px; }
#profile .row > div img { width: 100%; max-width: 246px; height: auto; }
	
#experiences .experience { margin-bottom: 20px; }
#experiences .experience p > strong { display: block; padding-top: 8px; margin-bottom: 10px; }
#experiences .experience .experience-details { display: block; margin-top: 6px; }
#experiences .experience .experience-details * { color: #22A39F; }
#experiences .experience .experience-details .seperator { color: #BCBCBC; }

#abilities ul > li { min-height: 30px; padding: 3px 0px; }
#abilities ul > li:hover { background: #F2F2F2; }
#abilities ul > li .ability-title { display: inline-block; width: 60%; }
#abilities ul > li .ability-score { float: right; }
#abilities ul > li .ability-score .glyphicon { 
	color: #DFE0E0; 
	font-size: 14px; 
	 
	-webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
#abilities ul > li .ability-score .glyphicon.filled { color: #22A39F; }

#abilities ul > li:hover .ability-score .glyphicon { margin-left: 2px; } 

#interests .left { float: left; }
#interests .right { float: right; }
#interests img { width: 80%; height: auto; }
#interests .right img { float: right; }
#interests .interest-content { padding: 40px 0px; }

#interests .row:hover .left img {
	-webkit-transform: rotate(-12deg);
	-moz-transform: rotate(-12deg);
	-ms-transform: rotate(-12deg);
	-o-transform: rotate(-12deg);
}

#interests .row:hover .right img {
	-webkit-transform: rotate(12deg);
	-moz-transform: rotate(12deg);
	-ms-transform: rotate(12deg);
	-o-transform: rotate(12deg);
}

/* #projects .row { margin: 0px; } // bootstrap 3.1- hack */
#projects .row > div { margin-bottom: 30px; }
#projects figure { position: relative; overflow: hidden; }
#projects figure h3 { color: #FFF; font-weight: 600; margin-bottom: 5px; }
#projects figure p > strong { width: 60px; display: inline-block; margin: 0px; }
#projects figure img { width: 110%; }
#projects figure figcaption {
    padding: 20px 30px;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
}
#projects figure a {
	z-index: 1000;
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
}
#projects figure .icon { 
	background: #22A39F;
	position: absolute;
	top: 0px;
	right: 0px;
	width: 48px;
	height: 48px;
}
#projects figure .icon span {
	font-size: 18px;
	line-height: 18px;
	padding: 15px;
}

#contact { padding-bottom: 200px; }
#contact h2, #contact .row * { color: #FFFFFF; }
#contact a { display: block; line-height: 32px; margin-bottom: 20px; opacity: 0.6; filter:alpha(opacity=60);  }
#contact a .icon { float: left; margin-right: 20px; }
#contact a:hover { opacity: 1; filter:alpha(opacity=100); text-decoration: none; }

.opl {
	position:absolute;
	top:100px;
	left:0px;
	z-index:99999;
}

.opl a {
	width:73px;
	height:56px;
	text-indent:-9999px;
	display:block;
	background:url('https://s3.amazonaws.com/onepagelove/one-page-love-award.png') no-repeat;
}

@media (max-width: 1200px) { 
	#interests .interest-content { padding: 20px 0px; }
}

@media (max-width: 767px) { 
	.jumbotron:before {
		bottom: 100px;
		left: 20px;
		right: 20px;
		top: 20px;		
	}
	.jumbotron .container { top: 20%; padding-top: 0px; }
	.jumbotron .scroll-down { width: 100%; right: 0px; }
	
	.navbar  { left: 0px; width: 100%; }
	.navbar .nav > li { height: 60px; }
	.navbar .nav > li a { height: 60px; text-align: center; padding-top: 20px; font-weight: 600; color: #FFFFFF; }
	
	.fixed .navbar { top: 0px; }
	
	.container { padding: 60px 20px; min-width: 280px; }
	.hidden-phone { display: none; }
	
	#profile .row * { text-align: center; }
	
	#experiences .experience .experience-details > span { display: block; margin-bottom: 6px; }
	#experiences .experience .experience-details .seperator { display: none; }
	
	#interests .left { float: none; }
	#interests .right { float: none; }
	
	#interests > * { text-align: center; }
	#interests img { width: 50%; height: auto; float: none !important; } 
	#interests .interest-content { padding: 20px 0px; }
	
	#contact { padding-bottom: 60px; }
	#contact a .icon { float: left; margin-right: 10px; }
}    

@media only screen and (orientation: portrait) and (max-width: 767px)  {
    .jumbotron {
      -webkit-background-size: auto 150%;
      background-attachment: scroll;
    }
}
@media only screen and (orientation: landscape) and (max-width: 767px)  {

    .jumbotron {
      -webkit-background-size: 150% auto;
      background-attachment: scroll;
    }
	
	.jumbotron .lead { display: none; }
}

@keyframes wiggle {
	0% {
		padding-top: 20px;
	}

	50% {
		padding-top: 28px;
	}

	100% {
		padding-top: 20px;
	}
}


/*---------------*/
/***** EFFECT *****/
/*---------------*/

figure.effect {
	background: #22A39F;
	color: #FFF;
}

figure.effect img {
	width: -webkit-calc(100% + 20px);
	width: calc(100% + 20px);
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(-10px,0,0);
	transform: translate3d(-10px,0,0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

figure.effect:hover img {
	opacity: 0.2;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

figure.effect figcaption {
	text-align: left;
}

figure.effect h3 {
	position: relative;
	overflow: hidden;
	padding-bottom: 20px;
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
}

figure.effect:hover h3 {
	opacity: 1;
}

figure.effect h3::after {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 2px;
	background: #fff;
	content: '';
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(-100%,0,0);
	transform: translate3d(-100%,0,0);
}

figure.effect:hover h3::after {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

figure.effect p {
	padding-top: 10px;
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(100%,0,0);
	transform: translate3d(100%,0,0);
}

figure.effect:hover p {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}