
    <footer class="site-footer">
        <div class="site-container">
            <div class="footer-inner">
                <div class="footer-info">
                    <div class="footer-info__left">
                        <img src="../images/footer-img.jpg" alt="about me image">
                        <p>Read more about me</p>
                    </div>
                    <div class="footer-info__right">
                        <h5>Get In Touch</h5>
                        <p class="footer-phone">Phone: +919778807068</p>
                        <p>Email : sahu.saurvsekhar@gmail.com</p>
                        <div class="social-icons">
                            <a href="https://www.linkedin.com/in/saurav-sekhar-sahu-092b3080/" target="_blank"><img
                                    src="../images/inicon.png" alt="LinkedIn"></a>
                            <a href="https://twitter.com/sauravsekhar15" target="_blank"><img
                                    src="../images/twitericon.png" alt="Twitter"></a>
                            <a href="https://www.facebook.com/smart.saurav.96/" target="_blank"><img
                                    src="../images/fbicon.png" alt="Facebook"></a>
                            <a href="#" target="_blank"><img src="../images/instaicon.png" alt="Instagram"></a>
    
                        </div>
                    </div>
                </div>
                <div id="contact-me" class="footer-contact-form">
                    <h5>Contact Form</h5>
                    <form class="contact-form" id="contact-form">
                        <div class="contact-form__input">
                            <input type="text" name="name" id="name" value="" placeholder="Name">
                            <input type="email" name="email" id="email" value="" placeholder="Email">
                        </div>
                        <textarea name="textarea" id="textarea" value="" placeholder="textarea"></textarea>
                        <input type="submit" name="submit" value="Submit" class="submit-button"
                            onclick="WriteToFile(document.getElementById('contact-form'))">
                    </form>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="site-container footer-bottom-inner">
                <p>© 2019 Author | Design by <a href="#" target="_blank">sauravsekharsahu</a> | All rights Reserved.</p>
    
            </div>
        </div>
    </footer>
