
<script src="../js/slick.min.js"></script>
<script src="../js/main.js"></script>
	<!-- Navigation -->
	<nav class="site-navigation">	
		<div class="site-navigation-inner site-container">
				<!--<img src="./images/site-logo.png" onclick="return  myFunction1(this) alt="site logo">-->
				<div id="myBtn1" class="main-navigation">
					<ul class=" main-navigation__ul">
					<li><a href="../index.html">Homepage</a></li>
					<li><a href="../view/profile.html">Profile</a></li>
					<li><a href="../view/travel_history.html">Travel_history</a></li>
					<li><a href="../index.html#about-me"
							onclick="return  navigation_close(document.getElementById('myBtn'))">About Me</a></li>
					<li><a href="../index.html#invoke_footer"
							onclick="return navigation_close(document.getElementById('myBtn'))">Contact Me</a></li>
					</ul>
				</div>
				<div id="myBtn" class="burger-container" onclick="myFunction(this)">
					<div class="bar1"></div>
					<div class="bar2"></div>
					<div class="bar3"></div>
				</div>
				<script>
					function myFunction(x) {
						// alert('1');
						x.classList.toggle("change");
					}
					function navigation_close(x) {
						x.classList.toggle("change");
						$('.main-navigation').toggle('slow');
						if ($('#myBtn').hasClass('change')) {
							$('body').addClass('stop-scroll');
						} else {
							$('body').removeClass('stop-scroll');
						}
					}
				</script>
		</div>
	</nav>
	<!-- Navigation end -->

	<!-- Top banner -->
	<section class="fh5co-top-banner">
		<div class="top-banner__inner site-container">
			<div class="top-banner__image">
				<img src="../images/mypic/top-banner-author.jpg" alt="author image">
			</div>
			<div class="top-banner__text">
				<div class="top-banner__text-up">
					<span class="brand-span">Hello! I'm</span>
					<h2 class="top-banner__h2">Saurav Sekhar</h2>
				</div>
				<div class="top-banner__text-down">
					<h2 class="top-banner__h2">Sahu</h2>
					<span class="brand-span">IT Professional, Travel Freak</span>
				</div>
				<p>One Man. One Mission. Can He Go Beyond....</p>
				<a href="../index.html#about-me" class="brand-button">Read bio > </a>
			</div>
		</div>
	</section>
	<!-- Top banner end -->