<div class="site-container row" id="abilities">
			<h3>Language :</h3>
			<div class="col-md-4">
				<ul class="no-bullets">
					<li>
						<span class="ability-title">English</span>
						<span class="ability-score">


							<span class="glyphicon glyphicon-star filled"></span>


							<span class="glyphicon glyphicon-star filled"></span>


							<span class="glyphicon glyphicon-star filled"></span>


							<span class="glyphicon glyphicon-star filled"></span>


							<span class="glyphicon glyphicon-star filled"></span>


						</span>
					</li>

				</ul>

			</div>
			<div class="col-md-4">
				<ul class="no-bullets">
					<li>
						<span class="ability-title">Hindi</span>
						<span class="ability-score">


							<span class="glyphicon glyphicon-star filled"></span>


							<span class="glyphicon glyphicon-star filled"></span>


							<span class="glyphicon glyphicon-star filled"></span>


							<span class="glyphicon glyphicon-star filled"></span>


							<span class="glyphicon glyphicon-star filled"></span>


						</span>
					</li>

				</ul>

			</div>

			<div class="col-md-4">
				<ul class="no-bullets">
					<li>
						<span class="ability-title">Odiya</span>
						<span class="ability-score">


							<span class="glyphicon glyphicon-star filled"></span>


							<span class="glyphicon glyphicon-star filled"></span>


							<span class="glyphicon glyphicon-star filled"></span>


							<span class="glyphicon glyphicon-star filled"></span>


							<span class="glyphicon glyphicon-star filled"></span>


						</span>
					</li>

				</ul>

			</div>

		</div>