	<div class="site-container row" id="abilities">
			<h3>Techinical Proficiencies :</h3>
			<div class="col-md-6">
				<ul class="no-bullets">
					<li>
						<span class="ability-title">AWS</span>
						<span class="ability-score">
	
	
							<span class="glyphicon glyphicon-star filled"></span>
	
	
							<span class="glyphicon glyphicon-star filled"></span>
	
	
							<span class="glyphicon glyphicon-star filled"></span>
	
	
							<span class="glyphicon glyphicon-star filled"></span>
	
	
							<span class="glyphicon glyphicon-star filled"></span>
	
	
						</span>
					</li>
					<li>
						<span class="ability-title">Cloud Computing</span>
						<span class="ability-score">
	
	
							<span class="glyphicon glyphicon-star filled"></span>
	
	
							<span class="glyphicon glyphicon-star filled"></span>
	
	
							<span class="glyphicon glyphicon-star filled"></span>
	
	
							<span class="glyphicon glyphicon-star filled"></span>
	
	
							<span class="glyphicon glyphicon-star filled"></span>
	
	
						</span>
					</li>
					<li>
						<span class="ability-title">Terraform</span>
						<span class="ability-score">
	
	
							<span class="glyphicon glyphicon-star filled"></span>
	
	
							<span class="glyphicon glyphicon-star filled"></span>
	
	
							<span class="glyphicon glyphicon-star filled"></span>
	
	
							<span class="glyphicon glyphicon-star filled"></span>
	
	
							<span class="glyphicon glyphicon-star filled"></span>
	
	
						</span>
					</li>
					<li>
						<span class="ability-title">Puppet</span>
						<span class="ability-score">
	
	
							<span class="glyphicon glyphicon-star filled"></span>
	
	
							<span class="glyphicon glyphicon-star filled"></span>
	
	
							<span class="glyphicon glyphicon-star filled"></span>
	
	
							<span class="glyphicon glyphicon-star filled"></span>
	
	
							<span class="glyphicon glyphicon-star "></span>
	
	
						</span>
					</li>
					<li>
						<span class="ability-title">Jenkins</span>
						<span class="ability-score">
	
	
							<span class="glyphicon glyphicon-star filled"></span>
	
	
							<span class="glyphicon glyphicon-star filled"></span>
	
	
							<span class="glyphicon glyphicon-star filled"></span>
	
	
							<span class="glyphicon glyphicon-star filled"></span>
	
	
							<span class="glyphicon glyphicon-star "></span>
	
	
						</span>
					</li>
					<li>
						<span class="ability-title">Packer</span>
						<span class="ability-score">
	
	
							<span class="glyphicon glyphicon-star filled"></span>
	
	
							<span class="glyphicon glyphicon-star filled"></span>
	
	
							<span class="glyphicon glyphicon-star filled"></span>
	
	
							<span class="glyphicon glyphicon-star "></span>
	
	
							<span class="glyphicon glyphicon-star "></span>
	
	
						</span>
					</li>
					<li>
						<span class="ability-title">Bitbucket</span>
						<span class="ability-score">
	
	
							<span class="glyphicon glyphicon-star filled"></span>
	
	
							<span class="glyphicon glyphicon-star filled"></span>
	
	
							<span class="glyphicon glyphicon-star filled"></span>
	
	
							<span class="glyphicon glyphicon-star filled"></span>
	
	
							<span class="glyphicon glyphicon-star filled"></span>
	
	
						</span>
					</li>
				</ul>
	
			</div>
			<div class="col-md-6">
				<ul class="no-bullets">
					<li>
						<span class="ability-title">Powershell</span>
						<span class="ability-score">
	
	
							<span class="glyphicon glyphicon-star filled"></span>
	
	
							<span class="glyphicon glyphicon-star filled"></span>
	
	
							<span class="glyphicon glyphicon-star filled"></span>
	
	
							<span class="glyphicon glyphicon-star filled"></span>
	
	
							<span class="glyphicon glyphicon-star filled"></span>
	
	
						</span>
					</li>
					<li>
						<span class="ability-title">GIT</span>
						<span class="ability-score">
	
	
							<span class="glyphicon glyphicon-star filled"></span>
	
	
							<span class="glyphicon glyphicon-star filled"></span>
	
	
							<span class="glyphicon glyphicon-star filled"></span>
	
	
							<span class="glyphicon glyphicon-star filled"></span>
	
	
							<span class="glyphicon glyphicon-star filled"></span>
	
	
						</span>
					</li>
					<li>
						<span class="ability-title">Jira</span>
						<span class="ability-score">
	
	
							<span class="glyphicon glyphicon-star filled"></span>
	
	
							<span class="glyphicon glyphicon-star filled"></span>
	
	
							<span class="glyphicon glyphicon-star filled"></span>
	
	
							<span class="glyphicon glyphicon-star filled"></span>
	
	
							<span class="glyphicon glyphicon-star filled"></span>
	
	
						</span>
					</li>
					<li>
						<span class="ability-title">Confluence</span>
						<span class="ability-score">
	
	
							<span class="glyphicon glyphicon-star filled"></span>
	
	
							<span class="glyphicon glyphicon-star filled"></span>
	
	
							<span class="glyphicon glyphicon-star filled"></span>
	
	
							<span class="glyphicon glyphicon-star filled"></span>
	
	
							<span class="glyphicon glyphicon-star filled"></span>
	
	
						</span>
					</li>
					<li>
						<span class="ability-title">CI-CD</span>
						<span class="ability-score">
	
	
							<span class="glyphicon glyphicon-star filled"></span>
	
	
							<span class="glyphicon glyphicon-star filled"></span>
	
	
							<span class="glyphicon glyphicon-star filled"></span>
	
	
							<span class="glyphicon glyphicon-star filled"></span>
	
	
							<span class="glyphicon glyphicon-star filled"></span>
	
	
						</span>
					</li>
					<li>
						<span class="ability-title">Blue-Green Deployment</span>
						<span class="ability-score">
	
	
							<span class="glyphicon glyphicon-star filled"></span>
	
	
							<span class="glyphicon glyphicon-star filled"></span>
	
	
							<span class="glyphicon glyphicon-star filled"></span>
	
	
							<span class="glyphicon glyphicon-star filled"></span>
	
	
							<span class="glyphicon glyphicon-star filled"></span>
	
	
						</span>
					</li>
	
	
				</ul>
			</div>
		</div>	